{%extends 'rango/base.html'%}
{%load static%}

{% block title_block%}
  Add Category
{%endblock%}

{%block body_block%}

<div class="form-signin w-100 m-auto">
  <form class="" action="{% url 'rango:add_category'%}" method="post" id="category_form">
    <h1 class="h3 mb-3 fw-normal">Add a Category</h1>
    {%csrf_token%}
    {%for hidden in form.hidden_fields%}
      {{hidden}}
    {%endfor %}

      <div class="form-floating">
      <input type="text" class="form-control" id="id_name" placeholder="Category Name" name="name">
      <label for="floatingInput">Please enter Category Name</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Create Category</button>
  </form>
  {% for field in form.visible_fields %}
    {{ field.errors }}<br/>
  {% endfor %}

</div>


    <!-- <h1>Add a category</h1>
    <div class="">
      <form class="" action="{% url 'rango:add_category'%}" method="post" id="category_form">
        {%csrf_token%}
        {%for hidden in form.hidden_fields%}
          {{hidden}}
        {%endfor %}
        {% for field in form.visible_fields%}
          {{field.errors}}
          {{field.help_text}}
          {{field}}
        {% endfor %}
        <input type="submit" name="submit" value="Create Category">
      </form>
    </div> -->
{%endblock%}
