{%extends 'rango/base.html'%}
{%load static%}

{% block title_block%}
  Index Page
{%endblock%}

{%block body_block%}
  <h1>Most liked Categories</h1>
  <div>
    <ul>
      {% for category in categories %}
      <li>
        <a href="{% url 'rango:show_category' category.slug%}">{{ category.name }}</a>
      </li>
      {%empty%}
        <strong>There are no categories present.</strong>
      {% endfor %}
    </ul>
  </div>
  <h1>Most viewed Pages</h1>
  <div>
    <ul>
      {% for page in pages %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
      {%empty%}
        <strong>There are no pages present.</strong>
      {% endfor %}
    </ul>

  </div>
  <div>
    <img src="{% static "images/rango.jpeg" %}" alt="Picture of Rango" />
  </div>
{%endblock%}
